.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.contain{
  background-color: #FFF1B8;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.form-group {
  width: 300px; /* 设置表单元素宽度 */
  margin-bottom: 30px; /* 设置表单元素之间的间距 */
  display: flex;
  flex-direction:column;
}

.form-input {
  text-indent: 10px;
  height: 37px;
  border-radius: 10px;
  margin: 10px;
  border:none;

}
.form-select {
  height: 37px;
  border-radius: 10px;
  margin: 10px;
  border:none;

}
.btn-finish{
  height: 54px;
  background-color: #597EF7;
  color: #fff;
  border-radius: 10px;
  border:none;
  margin-top: 10px;
}